 <div class="user-details">
  <h1> My Expertise </h1>
  <div align="left"><p> {{site.user_description}} </p>
  </div>
</div>
  <div class="user">
    <div class="tech">
      <h2>Python & R</h2>
      <img alt="Python" src="{{ "/assets/img/python-logo.png" | prepend: site.baseurl }}" width="90" height="90"/>	
	  <img alt="R" src="{{ "/assets/img/letter-r8.png" | prepend: site.baseurl }}" width="80" height="80"/>	
      <p>Pandas, numpy, Scikit-learn, ggplot2, tidyverse, dplyr, TensorFlow, keras,</p>
    </div>
    <div class="tech">
      <h2>Data Science</h2>
	  <img alt="data science" src="{{ "/assets/img/datascience.jpg" | prepend: site.baseurl }}" width="220" height="100"/>	
	  <p>Data analysis, statistics, machine learning, critical thinking</p>
    </div>
    <div class="tech">
      <h2>SAP tools</h2>
	  <img alt="SAP HANA" src="{{ "/assets/img/SAP-HANA.png" | prepend: site.baseurl }}" width="200" height="100"/>	
      <p>SAP Business Warehouse, HANA Database, Business objects, Integrated Planning</p>
    </div>
</div>
