 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Python & R</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
	  <img alt="R" src="{{ "/assets/img/letter-r8.png" | prepend: site.baseurl }}" width="100" height="100"/>	
      <p>Pandas, numpy, seaborn, Scikit-learn, XGBoost, TensorFlow, keras, dplyr, data.table, ggplot2, caret, randomforest</p>
    </div>
    <div class="tech">
      <h2>Data Science</h2>
	  <img alt="data science" src="{{ "/assets/img/datascience.jpg" | prepend: site.baseurl }}" width="220" height="100"/>	
	  <p>Machine learning (Random Forest, Boosting, Neural Networks, NPL) and datebases (SQL,MongoDB)</p>
    </div>
    <div class="tech">
      <h2>SAP tools</h2>
	  <img alt="SAP HANA" src="{{ "/assets/img/SAP-HANA.png" | prepend: site.baseurl }}" width="200" height="100"/>	
      <p>SAP Business Warehouse, HANA, Business objects, Integrated planning, Business Planning & Consolidation</p>
    </div>
</div>
