<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/hotel-keys.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Predicting booking cancellations </h3>
    <p>Booking cancellations can represent between 20%-40% of the total hotel reservations. Is it possible to generate an accurate prediction rate?</p>
   	<ul>
    </ul>
	 <a class="project-link" href="https://github.com/alejandromanas/GoogleColab_public/blob/master/bookings/code/bookings.ipynb">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Hana from python" src="/assets/img/hana_from_python.png" width="440" height="100" />
  </div>
  <div class="contents-right">
    <h3> Consume SAP HANA Cloud data from Python</h3>
    <p>Access to your data on SAP HANA Cloud and create any kind of machine learning scenarios using python</p>
    <ul>
    </ul>
    <a class="project-link" href="/Hana_from_python/Consume SAP HANA Cloud data from python.html">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="sales forecast" src="{{ "/assets/img/sales forecast.jpg" | prepend: site.baseurl }}" width="440" height="100" />
  </div>
  <div class="contents-right">
    <h3> Demand Forecast </h3>
    <p>It is highly possible to identify patterns using the backing of datasets spanning years into the past.  Machine learning techniques can spot this patterns and repetitive behaviour, which can be leveraged to forecast sales and demand.</p>
    <ul>
    </ul>
    <a class="project-link" href="#">Coming soon</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/fraud-detection.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Fraud detection </h3>
    <p>The number of fraudulent transactions is usually very small. Is it possible to find a pattern that can identify them?</p>
    <ul>
    </ul>
    <a class="project-link" href="#">Coming soon</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="image detection" src="{{ "/assets/img/image_detection.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Image detection </h3>
    <p>The image analysis is one of the most prominent fields in deep learning. How can it be used to detect objects or faces?</p>
    <ul>
    </ul>
    <a class="project-link" href="#">Coming soon</a>
  </div>
</div>

