<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/hotel-keys.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Predicting booking cancellations </h3>
    <p>Booking cancellations can represent between 20%-40% of the total hotel reservations. Is it possible to generate a accurate prediction rate ?</p>
   	<ul>
    </ul>
	 <!--<a class="project-link" href="https://github.com/alejandromanas/GoogleColab_public/blob/master/bookings/code/bookings.ipynb">Check it out</a>-->
	 <a class="project-link" href="">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/fraud-detection.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Fraud detection </h3>
    <p>The number of fraudulent transactions is usually very small. Is it possible to find a pattern that can identify them?</p>
    <ul>
    </ul>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
